.main-search-bar {
  font-size: 20px;
  margin-right: 12px;
  display: block;
}

/*Video by Youtube creator Anna Lenks*/
.thumbnail-anna {
  width: 300px;
  display: block;
}

.video-title-anna {
  width: 300px;
}

.video-preview-anna {
  width: 300px;
  display: inline-block;
}

 
