.main-search-bar {
  font-size: 20px;
  margin-right: 12px;
  display: block;
}

/*Video by Youtube creator Anna Lenks*/
#video-preview-anna {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.thumbnail-anna {
  width: 300px;
  display: block;
}

.video-title-anna {
  width: 300px;
}


/*Video by Youtube creator Hannah Elise*/
#video-preview-hanna {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
} 

.thumbnail-hanna {
  width: 300px;
  display: block;
}

.video-title-hanna {
  width: 300px;
}

