

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  background-color: lightblue;
  width: 180px;
}
.middle-section {
  background-color: lightcoral;
  flex: 1;
  margin-left: 60px;
  max-width: 500px;
}
.right-section {
  background-color: lightseagreen;
  width: 250px;
  margin-right: 24px;
  margin-left: 29px;
}