

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*LEFT SECTION*/
.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 26px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo-header {
  height: 22px;
}

/*MIDDLE SECTION*/

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 60px;
  max-width: 500px;
}
.main-search-bar {
  flex: 1;
  width: 0;
  height: 36px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2px;
  color: rgb(110, 110, 110);
  box-shadow: inset 0.5px 1px 3px rgba(0, 0, 0, 0.05);
}

.main-search-bar::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.search-button {
  height: 40px;
  width: 68px;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(202, 202, 202);
  margin-left: -1px;
}

.search-icon {
  height: 25px;
  margin-top: 3px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  margin-left: 8px;
  border: none;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
}

.voice-search-icon {
  height: 25px;
  margin-top: 3px;
}

/*RIGHT SECTION*/

.right-section {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  width: 190px;
  margin-right: 26px;
  margin-left: 7px;

}

.right-section button {
  height: 24px;
  width: 42px;
  background-color: white;
  border: none;
}

.current-picture-user {
  height: 40px;
  width: 37px;
  border-radius: 21px;
 }

.youtube-buttons img {
  height: 25px;
  width: 25px;
  margin-top: 8px;
}

